.App {
  text-align: center;
  min-height: 100vh;
  background-color: aqua;
  display: block;
}

.App-logo {
  height: 60px;
  margin: 0 0 -15px 0;
  padding: 0;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h1{
  font-size: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MainForm */

.MainForm{
  margin: 0px auto;
  padding: 10px;
  padding-top: 30px;
  max-width: 900px;
  height: 100%;
  background-color: #DDDDDD;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
}
.MainForm--Options{
  text-align: left;
}

.MainForm span{
  margin: 10px 0;
  border: 1px dotted magenta;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-content: flex-end;
}
/* .MainForm span :nth-child(1){ */
.MainForm span *{
    background-color: brown;
}
#MainForm--Length{
  width:100px;
  text-align: center;
}
#MainForm--PasswordOutput{
  width:99%;
  margin: 0 auto;
}